<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if can_destroy_user?(user) %>
    | <%= link_to t("users.delete.title"), user, data: { "turbo-method": :delete,
    turbo_confirm: t("users.delete.confirm") } %>
  <% end %>
</li>
