<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <% error_count = @user.errors.count %>
      <%= t("sign_up.errors.error_message",
              message: pluralize(error_count, t("sign_up.errors.one"))) %>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
